<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restricted Queries</title>
</head>
<body>
<h1> Quiz 4</h1> 
<h1> <i>Student ID:1001669806 </i> </h1> 
<h1> <strong> Mohan,Shreyas </strong> </h1>
		<label><h2>Enter 4 locations</h2></label><br>
        <form action = "{{ url_for('histoption') }}" method = "POST"> 
		<label>Enter location1:</label>
         <input type = "text"                 
				 name = "loc1"
                  />
        <br><br>
		<label>Enter the location 2:</label>
         <input type = "text"                 
				 name = "loc2"
                  />
 	  
				  
		  <br>
		  <br>
		  <label>Enter location3:</label>
         <input type = "text"                 
				 name = "loc3"
                  />
        <br><br>
		<label>Enter the location 4:</label>
         <input type = "text"                 
				 name = "loc4"
                  />
 	  
				  
		  <br>
		  <br>
				 
		  <input type = "submit" value = "submit" /><br>	
		  </form>
	
    </body>
</html>
        