<!doctype html>
<html>
	<body>

		
		 <h1> Quiz 5 </h1> 
		 <h1> <i>Student ID:1001669806 </i> </h1> 
		 <h1> <strong> Mohan,Shreyas </strong> </h1> 
		<br> <br>
	        <h2><a href = "/enternew">Upload File</a></h2>
            <h2><a href = "/records">Display Records</a></h2>
            <h2><a href = "/range1"> Fare Price and Age </a></h2>
            <h2><a href = "/ranges"> Select 2 columns and do clustering</a></h2>
            <h2><a href = "/barc">String Colums clustering</a></h2>
            <h2><a href = "/magniform">Enter a fare range</a></h2>
            <h2><a href = "/hist">Histogram:Search by Location</a></h2>
            <h2><a href = "/magniform">Pie Chart 2: Enter interval for population(Interval)</a></h2>
            <br>
            <!--
            <h2><a href = "/location">Locate near me (Without Cache) </a></h2>
            <h2><a href = "/loc3">Locate near me (With Caching)</a></h2>
            
            <h2><a href = "/loc2">Depth Error Range with Caching</a></h2>
            <h2><a href = "/loct">Depth Error Range with Caching individual time</a></h2>
            <h2><a href = "/datesp">Date Specific</a></h2>

			
            
            
			
            <h2><a href = "/cluster"> Find clusters of earthquake </a></h2>
            <h2><a href = "/enight"> Earthquakes at night </a></h2>	
            -->
            
            

      
	</body>
</html>
