<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magnitude Range PieChart</title>
</head>
<body>
<h1> <i>Student ID:1001669806 </i> </h1> 
     <h1> <strong> Mohan,Shreyas </strong> </h1>
<label> <h1>Enter the Magnitude below:</h1></label><br>
  <form action = "{{ url_for('options') }}" method = "POST">
  
  <br>
   Enter the fare1:<br>
  <input type="number" name="range1">
  <br>
  <br>
   Enter the fare2:<br>
  <input type="number" name="range2">
  <br>
  <br>
  
  <input type = "submit" value = "submit" />
  
  
</form>

