<!doctype html>
<html>
	<body>

		<h1> Quiz 5 </h1> 
		 <h1> <i>Student ID:1001669806 </i> </h1> 
		 <h1> <strong> Mohan,Shreyas </strong> </h1>
		<br> <br>
		<br>
        <form action = "{{ url_for('values') }}" method = "POST"> 
		  
		  <label>Enter the number of clusters:</label>
          <input type = "text"
                 name = "clusterinput"
                 />
		  <br>
		  <br>
		  <label>Enter the column name1:</label>
          <input type = "text"
                 name = "col1"
                 />
		  <br>
		  <br>
		   <label>Enter the column name2:</label>
          <input type = "text"
                 name = "col2"
                 />
		  <br>		 
		  <input type = "submit" value = "submit" /><br>	
    </body>
</html>
        