<!doctype html>
<html>

   <body>
    <h1> <i>Student ID:1001669806 </i> </h1> 
    <h1> <strong> Last Name: Mohan </strong> </h1> 
    <h1> <strong> First Name: Shreyas </strong> </h1> 
         <h2> <a href = "/">Home</a> </h2>
   <center>
      <header> <h1> List of Date Specific</h1>
      </header>
      <br> <br>
	  
		

      <table>
         
         {% for row in result %}
         <tr>
            <td>{{row}}</td>
         </tr>
         {% endfor %}
      </table>

      <br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>