<!doctype html>
<html>
	<body>
		 <h1> <i>Student ID:1001669806 </i> </h1> 
   		 <h1> <strong> Last Name: Mohan </strong> </h1> 
   		<h1> <strong> First Name: Shreyas </strong> </h1> 

   		<h2> <a href = "/">Home</a> </h2>
		<center>
		 <h1> Display Location details  </h1> 
		<br> <br>
		<h1> </h1>
		<br>
		<label><h2>Magnitude Range Search</h2></label><br>
		<form action = "{{ url_for('locsrc') }}" method = "POST"> 
		  <label>Magnitude 1:</label>
          <input type = "text"                 
				 name = "mag1"
                  />
          <br>
          <br>
		  <label>Magnitude 2:</label>
          <input type = "text"
                 name = "mag2"
                 />
		  <br>
		  <br>
		  <label>Enter the number of queries:</label>
 			 <input type="text" name="num">
  			<br>
		    <br>
				 
		  <input type = "submit" value = "submit" /><br>
	 </body>
</html>		  	 
				 
		  