<!doctype html>
<html>

   <body>
   <h1> <i>Student ID:1001669806 </i> </h1> 
   <h1> <strong> Last Name: Mohan </strong> </h1> 
   <h1> <strong> First Name: Shreyas </strong> </h1> 
   <h2> <a href = "/">Home</a> </h2>
   <center>
       <!--
       <h1> The Earthquake Records below the range {{mag1}}:</h1>
       <h2> Count : {{count1}} </h2>
   
      <table >
          
         {% for row in row1 %}
         <tr>
              <td>{{row}}</td>
         </tr>
         {% endfor %}
      </table>
    -->

    {{row2}}
      <!--
      <h1> The Earthquake Records above the range {{mag2}} </h1>
      <h2> Count : {{count3}} </h2>
      <table >
          
         {% for row in row3 %}
         <tr>
              <td>{{row}}</td>
         </tr>
         {% endfor %}
      </table>
      -->
   


      <br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>