<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<header> <h1> <i>Student ID:1001669806 </i> </h1> </header>
		<header> <h1> <strong> Last Name: Mohan </strong> </h1> </header>
		<header> <h1> <strong> First Name: Shreyas </strong> </h1> </header>
<body>
<form method="POST" action="" enctype= "multipart/form-data">
        <label><h2> Enter the point1 </h2></label>
		
        <input type="text" name="point1"><br>
<label><h2> Enter the point2 </h2></label>
		
        <input type="text" name="point2"><br>
<label><h2> Enter the fav word </h2></label>
		
        <input type="text" name="fav"><br><br>
		<input type="submit">
</form>

</body>
</html>
