<!doctype html>
<html>
	<body>

		
		<header> <h1> Quiz 1 </h1> </header>
		<header> <h1> <i>Student ID:1001669806 </i> </h1> </header>
		<header> <h1> <strong> Last Name: Mohan </strong> </h1> </header>
		<header> <h1> <strong> First Name: Shreyas </strong> </h1> </header>
		<br> <br>
	        <h2><a href = "/enternew">Upload File</a></h2>
                <h2><a href = "/records">Display Records</a></h2>
		<h2><a href = "/imagelist">Image File Names</a></h2>
                <h2><a href = "/displaypic">Point Value Search</a></h2>
		<h2><a href = "/modifyrec">Modify Record</a></h2>
                <h2><a href = "/twopointrec">Two points Search</a></h2>	

<!--
		                
		
		<h2><a href = "/cluster">Clustering1 </a></h2>
		<h2><a href = "/cluster1">Clustering2 </a></h2>
		
		-->
      
	</body>
</html>
