<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<header> <h1> Quiz 1 </h1> </header>
		<header> <h1> <i>Student ID:1001669806 </i> </h1> </header>
		<header> <h1> <strong> Last Name: Mohan </strong> </h1> </header>
		<header> <h1> <strong> First Name: Shreyas </strong> </h1> </header>
<form method="POST" action="{{ url_for('upload_file') }}" enctype= "multipart/form-data">
        <label><h2> Upload Data File</h2></label>
		<h4>Please choose the file you want to upload</h4>
        <input type="file" name="myfile"><br>
		<input type="submit">
</form>

</body>
</html>
