<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Queries</title>
</head>
<body>
<h1> Quiz 4 </h1> 
<h1> <i>Student ID:1001669806 </i> </h1> 
<h1> <strong> Mohan,Shreyas </strong> </h1>
<label> <h1>Bar Chart</h1></label><br>
<form action = "{{ url_for('baroptions') }}" method = "POST">
  
  <br>
   Enter the magnitude:<br>
  <input type="text" name="mag">
  <br>
  <input type = "submit" value = "submit" />
  <br><br>
  <h2> <a href = "/">Home</a> </h2>
  
  
</form>

