<!doctype html>
<html>
	<body>

		
		 <h1> Quiz 4 </h1> 
		 <h1> <i>Student ID:1001669806 </i> </h1> 
		 <h1> <strong> Mohan,Shreyas </strong> </h1> 
		<br> <br>
	        <h2><a href = "/enternew">Upload File</a></h2>
            <h2><a href = "/records">Display Records</a></h2>
            <h2><a href = "/range1"> Pie Chart:Number of earthquakes across Latitude and Longitude Range</a></h2>
            <h2><a href = "/ranges"> Scatter Chart: Earthquakes by Magni range and Depth range</a></h2>
            <h2><a href = "/barc">Bars:Number of earthquakes in California and Hawaii by Mag</a></h2>
            <h2><a href = "/options2">Display 2 Charts(Scatter and Bar Chart) without input</a></h2>
            <h2><a href = "/hist">Histogram:Search by Location</a></h2>
            <h2><a href = "/magniform">Pie Chart 2: Enter range of magnitude(Interval)</a></h2>
            <br>
            <!--
            <h2><a href = "/location">Locate near me (Without Cache) </a></h2>
            <h2><a href = "/loc3">Locate near me (With Caching)</a></h2>
            
            <h2><a href = "/loc2">Depth Error Range with Caching</a></h2>
            <h2><a href = "/loct">Depth Error Range with Caching individual time</a></h2>
            <h2><a href = "/datesp">Date Specific</a></h2>

			
            
            
			
            <h2><a href = "/cluster"> Find clusters of earthquake </a></h2>
            <h2><a href = "/enight"> Earthquakes at night </a></h2>	
            -->
            
            

      
	</body>
</html>
