<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(
           {{result|safe}}
              
          );
        
        var options = {
          title: 'Magnitude vs. Depth Error comparison',
          hAxis: {title: 'Magnitude', minValue: 1, maxValue: 8},
          vAxis: {title: 'Depth Error ', minValue: 0, maxValue: 4},
          legend: 'none'

        };
       
        var chart = new google.visualization.ScatterChart(document.getElementById('scatterc'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
  <center>
    <h1> <i>Student ID:1001669806 </i> </h1> 
     <h1> <strong> Mohan,Shreyas </strong> </h1>
     <h2> <a href = "/">Home</a> </h2>
    <!--<img src="static/Minnow.jpg">-->
    <br> 
    
    <div id="scatterc" style="width: 900px; height: 900px;"></div>
  </body>
</html>