<!doctype html>
<html>
	<body>

		
		 <h1> Quiz 7</h1> 
		 <h1> <i>Student ID:1001669806 </i> </h1> 
		 <h1> <strong> Mohan,Shreyas </strong> </h1> 
		<br> <br>
	        <h2><a href = "/enternew">Upload File</a></h2>
               <h2><a href = "/records">Display all Records</a></h2>
            <h2><a href = "/year">Display selected Records</a></h2>
            <h2><a href = "/range1"> Assign student to course</a></h2>
            <h2><a href = "/queries">Random Queries</a></h2>
            <h2><a href = "/queries2">Search by location name without Caching</a></h2>
            <h2><a href = "/queries3">Cached Search by Location Name</a></h2>
            <h2><a href = "/location">Locate near me (Without Cache) </a></h2>
            <h2><a href = "/loc3">Locate near me (With Caching)</a></h2>
            <h2><a href = "/ranges"> Enter Depth Error Range(Without Caching)</a></h2>
            <h2><a href = "/loc2">Depth Error Range with Caching</a></h2>
            <h2><a href = "/loct">Depth Error Range with Caching individual time</a></h2>
            <h2><a href = "/datesp">Date Specific</a></h2>

			<h2><a href = "/magniform">Magnitude</a></h2>
            
            
			
            <h2><a href = "/cluster"> Find clusters of earthquake </a></h2>
            <h2><a href = "/enight"> Earthquakes at night </a></h2>	
            
            
            

      
	</body>
</html>
