<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restricted Queries</title>
</head>
<body>
<h1> Assignment 3 </h1> 
<h1> <i>Student ID:1001669806 </i> </h1> 
<h1> <strong> Mohan,Shreyas </strong> </h1>
		<label><h2>Restricted queries- Earthquake occuring in particular location</h2></label><br>
        <form action = "{{ url_for('options2') }}" method = "POST"> 
		<label>Enter number of queries:</label>
         <input type = "text"                 
				 name = "num"
                  />
        <br><br>
		<label>Enter the location to be searched:</label>
         <input type = "text"                 
				 name = "loc"
                  />
 	  
				  
		  <br>
		  <br>
				 
		  <input type = "submit" value = "submit" /><br>	
		  </form>
	
    </body>
</html>
        